{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/style.css' %}">
    <!-- <style>
        /* #order1{
            font-size: larger;
            color: blueviolet;
            background-color: yellow;
        }

        #div{
            font-size: small;
            color: black;
            background-color: blanchedalmond;
        } */
        .h1{
            font-size: small;
            color: black;
            background-color: blanchedalmond;
        }
    </style> -->
</head>
<body>
    <!-- <h1 style="font-size: medium; color:black; ">my order</h1><br><br>
    <h1 id="order1" class="h1">my order</h1>
    <div id="div">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis provident vero expedita assumenda sit autem adipisci id. Tenetur tempore maxime, distinctio ratione saepe doloremque sunt eum, voluptatum soluta corrupti reprehenderit.
    </div>
    <span >welcome to css</span>
    <div class="div1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat officiis magnam, fugiat similique aut sequi corporis nisi facilis architecto reiciendis molestiae dolore? Voluptas voluptates, voluptatum iste deserunt cupiditate dolorem ratione.</div> -->
    <span>welcom to css</span>
    <div>
        <span>hello world</span>
    </div>
</body>
</html>