{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <!-- <img src="{% static 'image/image1.jpg' %}" alt="img1">
    <img src="{% static 'image/image2.jpeg' %}" alt="img2" height="500px" width="400px">
    <a href="facebook.com">facebook</a>
    <a href="youtube.com">youtube</a> -->
    <!-- <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, earum eaque! Aperiam, eius! Quaerat rem magni cum, autem perspiciatis dignissimos harum nesciunt odio similique optio, ex nostrum veniam dicta dolore!</span>
    <div style="color: grey; background-color: black;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut iste, deleniti quia animi inventore atque illo numquam modi aspernatur nesciunt suscipit culpa doloribus sed quam doloremque aperiam placeat totam neque?
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam minus quasi optio mollitia aut perferendis, ab quis quisquam vero quae, dolorem placeat, cupiditate fugiat tempora rerum et eveniet libero aliquid!</span>
    </div> -->
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate fugit quis harum eum quibusdam repudiandae sunt corporis in tenetur, saepe similique. Maxime nihil, veniam pariatur fugit molestiae expedita aspernatur corporis!
    </p>
</body>
</html>