<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        //do while
        // i=0
        // do{
        //     console.log(i)
        //     i++
        // }
        // while(i<=10)

        //Function
        // function sum(a,b,c){//parameter 
        //     total=a+b+c
        //     return total
        // }
        // console.log(sum(1,2,3))
        // d=sum(2,8,1)
        // console.log(d)
        // sum(2,11,1)//arguments

        //even number
        // function even(n1){
        //     if(n1%2==0){
        //         console.log(n1,'is even')
        //     }
        //     else
        //     {
        //         console.log(n1,'is odd')
        //     }
        // }
        // even(21)

        //array
        // sum=0
        // price=[10,20,30,40,50]
        // // console.log(price)
        // // console.log(price[0])
        // len=price.length
        
        // // console.log(len)
        // for(i=0; i<len;i++){
        //     // console.log(price[i])
        //     sum=sum+price[i]
        // }
        // console.log(sum)


        //even number in an array
        // numbers=[1,3,27,36,41]
        // // len=numbers.length
        // // for(i=0; i<len; i++){
        // //     if(numbers[i]%2==0){
        // //         console.log(numbers[i])
        // //     }
        // // }
        // console.log(numbers)
        // numbers.push(64)
        // console.log(numbers)
        // numbers.pop()
        // console.log(numbers)
        // numbers.reverse()
        // console.log(numbers)
        // numbers.sort()
        // console.log(numbers)
        
        // // a=10
        // // a.toString()
        // // console.log(a)
        // numbers.shift()//
        // console.log(numbers)
        // console.log(numbers.shift())

        // vehicles=['car','jeep','bike','buss','train']
        // // for(item of vehicles){
        // //     console.log(item) //to print array items
        // // }
        // //storing data as object(key value pairs)
        // details={
        //     'name': 'ADITHYA p N',
        //     'age' : 24,
        //     'email': 'adithyapn98@gmail.com',
        //     'place': 'Orkkatteri',
        //     'pin': 673501,
        //     'skills': ['html','css','bootstrap','javascript'],
        // }
        // console.log(details)
        // console.log(details['skills'][0])
        // // console.log(details.skills[0])//also working
        // for(item in details){
        //     console.log(item,'is ',details[item])
        // }

        //scope of variables
        // n1=5
        // {
        //     let n2=30
        // }
        // n2=1000
        // console.log(n2)
        // function scope(){
        //     var n3=2//local variable (var and let also)
        //     n4=2//global variable
        //     console.log(n1)
        //     console.log(n2)
        //     console.log(n3)
        // }
        // scope()
        // console.log(n3)
        // console.log(n4)

        //constant value
        const a=10
        console.log(a)
    </script>
</body>
</html>