<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOM</title>
</head>
<body>
    <!-- <h1 id="h1">Hello World</h1>
    <p class="className" id="p1">Document object model</p>
    <p> It works as a tree structure</p><button onclick="button()">Submit</button>
    <script>
        // document.write('DOM') //write on page
        // h=document.getElementById("h1") //to get the content using id
        // console.log(h)
        // h.innerHTML="html" //to change the content in the html
        // p=document.getElementsByTagName("p")
        // console.log(p[0])
        // d=document.getElementsByClassName("className")
        // console.log(d)
        // function button(){// changing the content in p tag when the button click
        //     h=document.getElementById("p1")
        //     h.innerHTML="Changing the content in the first p tag"
        //     h.align="center"
        //     h.style.color="olive"
        //     h.setAttribute('class',"name")//to set the class name for p. It displays on elements in inspect.
        // }
    </script> -->
    <h1 id="h1">Document Object Model</h1>
    <p class="p1">welcome to DOM</p>
    <p class="p1"> hello World</p>
    <script>
        var a=document.getElementById("h1")
        console.log(a)
        var b=document.getElementsByClassName("p1")
        console.log(b)
        b[1].innerHTML="dom"
    </script>
</body>
</html>