<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var n=5 //row or column count
        var string="" 
        for(var i=0; i<n; i++){
            for(var j=0; j<n; j++){
                if(i == 0 || i == n-1){
                    string += "*"
                }
                else{
                    if(j == 0 || j == n-1){
                        string += "*"
                    }
                    else{
                        string += " "
                    }
                }
            }
            string += "\n" // new line after each row
        }
        console.log(string)
    </script>
</body>
</html>