<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // console.log('1')
        // console.log('2')
        // console.log('3')
        // console.log('4')
        // console.log('5')
        //to avoid code length we use loops.

        //for
        // for(var i=0; i<=10; i++){
        //     console.log(i)
        // }

        // while
        // var i=0
        // while(i<=10){
        //     console.log(i)
        //     i++
        // }

        //nested for loop
        // for(var i=0; i<=10; i++){
        //     for(j=0; j<=10; j++){
        //         console.log(i,j)
        //     }
        // }
        
        //nested while
        var i=0, j=0
        while(i<=10){
            j=0
            while(j<=10){
                console.log(i,j)
                j++
            }
            i++
        }
    </script>
</body>
</html>