<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // var a="ADITHYA"
        // var b=true
        // console.log(typeof(b))

        // var num1=prompt('Enter first number')
        // console.log(num1)
        // var num2=prompt('Enter second number')
        // console.log(num2)
        // console.log(typeof(num1))
        // console.log(typeof(num2))
        // var result=parseInt(num1)+parseInt(num2)
        // console.log(result)
        // var a=confirm('Are you sure to delete?')
        // console.log(a)

        //subtraction
        // var num1=prompt('Enter first number')
        // console.log(num1)
        // var num2=prompt('Enter second number')
        // console.log(num2)
        // var result=parseInt(num1)-parseInt(num2)
        // console.log(result)

        //multiplication
        // var num3=prompt('Enter first number')
        // console.log(num3)
        // var num4=prompt('Enter second number')
        // console.log(num4)
        // var result1=parseInt(num3)*parseInt(num4)
        // console.log(result1)

        //division
        // var num5=prompt('Enter first number')
        // console.log(num5)
        // var num6=prompt('Enter second number')
        // console.log(num6)
        // var result2=parseInt(num5)/parseInt(num6)
        // console.log(result2)

        //modulus
        // var num7=prompt('Enter first number')
        // console.log(num7)
        // var num8=prompt('Enter second number')
        // console.log(num8)
        // var result3=parseInt(num7)%parseInt(num8)
        // console.log(result3)

        //increment
        // var n=10
        //     n++
        // console.log(n)

        //decrement
        // var q=10
        //     q--
        // console.log(q)

        //exponent
        // var r=10
        // var result4=r**2
        // console.log(result4)

        //not
        var a=2
        var b=2
        a!=b
        console.log(a!=b)
    </script>
</body>
</html>