<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        //right triangle star pattern
        // var n = 5;
        // var string = "";
        // for (var i = 1; i <= n; i++) {
        //     for (var j = 0; j < i; j++) {
        //         // string += "*"
        //         document.write('*')
        //     }
        //     // string += "\n";
        //     document.write('<br>')
        // }
        // console.log(string);
        var n=5
        var string=""
        for(var i = 0; i<n; i++){
            for(var j = 0; j<=i; j++){
                string += "*"
            }
            if(j>i){
                string +=" "
            }
            string += "\n"
        }
        console.log(string)
    </script>
</body>
</html>